/* **********************************************************************
Contents:
- General page styles
- Main game UI
- End of game & restart card
- Set-up UI
  -- Toggle switch (horizontal - vertical)
  -- Carousel (to select ships)
********************************************************************** */
/* **********************************************************************
- General page styles
********************************************************************** */
* {
  box-sizing: border-box;
}

:root {
  --background-colour-main: #e8e8e8;
  --background-colour-contrast: #154e62;
  --water-colour-main: #c9f1ff;
  --water-colour-secondary: #a1d6e7;
  --ship-colour: #8b9b9d;
  --border-colour: #595959;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
p,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
footer,
footer a {
  color: var(--background-colour-main);
}

header,
footer {
  text-align: center;
  background-color: var(--background-colour-contrast);
}

main {
  flex: auto;
  display: flex;
  background-color: var(--background-colour-main);
}

footer {
  padding: 1rem;
}

/* **********************************************************************
- Main game UI
********************************************************************** */
section {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

section p {
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.board {
  width: 40vw;
  height: 40vw;
  background-color: blanchedalmond;
  border: 1px solid var(--border-colour);
  background-color: var(--border-colour);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1px;
}

.board button {
  border: none;
  background-color: var(--water-colour-main);
  padding: 0;
}

.board button:hover {
  background-color: var(--water-colour-secondary);
}

.board button.has-ship {
  background-color: var(--ship-colour);
}

button.is-hit {
  background-image: url(./images/o.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--water-colour-secondary);
}

button.has-ship.is-hit {
  background-image: url(./images/x.svg);
}

.disabled {
  pointer-events: none;
}

/* **********************************************************************
- End of game & restart card
********************************************************************** */
.endgame-frame {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: #55555570;
  display: flex;
  align-items: center;
  justify-content: center;
}

.endgame-card {
  background-color: var(--background-colour-main);
  min-width: 50vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
  margin: 16px;
}

.endgame-card p,
.endgame-card button {
  font-size: 24px;
  margin: 12px 0;
  text-align: center;
}

.endgame-card button {
  padding: 12px 24px;
  border: none;
  background-color: var(--water-colour-secondary);
}

.endgame-card button:hover {
  background-color: var(--background-colour-contrast);
  color: var(--background-colour-main);
}

/* **********************************************************************
- Set-up UI
********************************************************************** */
button.hover {
  background-color: var(--background-colour-contrast);
}

/* -- Toggle switch (horizontal - vertical) */
.switch-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--water-colour-secondary);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--background-colour-contrast);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* -- Carousel (to select ships) */
.carousel {
  width: 40vw;
  height: 40vw;
  overflow: hidden;
  position: relative;
}

.carousel-slides {
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 1s ease-in-out;
}

.carousel-slide {
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.carousel-previousBtn,
.carousel-nextBtn,
.carousel-radioBtns {
  position: absolute;
}

.carousel-previousBtn,
.carousel-nextBtn {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
  border: none;
  border-radius: 10px;
  padding: 8px;
  background-color: var(--ship-colour);
}

.carousel-previousBtn:hover,
.carousel-nextBtn:hover {
  background-color: var(--background-colour-contrast);
}

.carousel-previousBtn {
  left: 0;
}

.carousel-nextBtn {
  right: 0;
}

.carousel-radioBtns {
  bottom: 5%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
}

/* Ships in carousel */
.ship {
  background-color: var(--ship-colour);
  border: 1px solid var(--border-colour);
  height: 4vw;
  margin-top: 30%;
}

.ship.placed {
  background-color: unset;
}

#carrier {
  width: 20vw;
}

#battleship {
  width: 16vw;
}

#destroyer,
#submarine {
  width: 12vw;
}

#patrolboat {
  width: 8vw;
}

.ship.vertical {
  margin-top: 10%;
}

#carrier.vertical,
#battleship.vertical,
#destroyer.vertical,
#submarine.vertical,
#patrolboat.vertical {
  width: 4vw;
}

#carrier.vertical {
  height: 20vw;
}

#battleship.vertical {
  height: 16vw;
}

#destroyer.vertical,
#submarine.vertical {
  height: 12vw;
}

#patrolboat.vertical {
  height: 8vw;
}

/* Play game button */
#start-game-btn {
  font-size: 20px;
  text-align: center;
  padding: 12px 24px;
  border: none;
  background-color: var(--water-colour-secondary);
}

#start-game-btn:hover {
  background-color: var(--background-colour-contrast);
  color: var(--background-colour-main);
}

.hidden {
  display: none;
}
